.welcome {
    text-align: center;
    padding: 50px;
  }
  
  .welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .welcome .button {
    background-color: #FFDE59;
    color: #050606;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }