@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';

.welcome {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: (1.5rem, 2.5rem);
  color: var(--text-color);
}

.button {
  background-color: var(--button-color);
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-weight: var(--font-weight);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  @include responsive-text(1rem, 1.5rem);
}
