:root {
    --background-color: #FFFBEB;
    --button-color: #FFDE59;
    --text-color: #050606;
    --font-family: 'Futura', sans-serif;
    --font-weight: bold;
    --border-radius: 10px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  